* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-family: sans-serif;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
}

body {
    background-image: url("background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header {
    min-height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #333;
}

header h1 {
    text-shadow: 5px 10px rgba(255, 255, 255, 0.2);
    color: #fff;
}

main {
    min-height: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: rgba(0, 0, 0, 0.2);
}

main #ul {
    grid-column: 2; 
    border: 1px solid #000;
    color: white;
    list-style-type: none;
}

.characters {
    border: 2px solid #c89ea4;
    box-shadow: 0 0 20px #c89ea4;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background: radial-gradient(#c89ea4, #7a5f63);
}
.characters.another{
    background-image: url("another.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-color: #1f2942;
    box-shadow: 0 0 20px #1f2942;
}

.search {
    position: relative;
    grid-column: 2;
    margin: 10px;
}

footer {
    min-height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 1);
    color: white;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
}